{
  "extends": ["react-app", "eslint:recommended", "prettier"],
  "rules": {
    "no-var": "error", // var 키워드 금지
    "no-multiple-empty-lines": "error", // 여러 줄 공백 금지
    "no-console": ["error", { "allow": ["warn", "error", "info"] }], // console.log() 허용하지 않음
    "eqeqeq": "error", // 일치 연산자 사용 필수
    "dot-notation": "error", // 가능하면 도트 표기법 사용
    "no-unused-vars": "error" // 사용하지 않는 변수 금지
  }
}
